<div id="recipe-preview" class="recipe-preview">

    <div class="recipe-preview-top">

        <button id="recipe-preview-back" class="recipe-preview-back">
            <i class="bi bi-caret-down-fill"></i>
        </button>
        <span id="recipe-preview-title" class="recipe-preview-title mb-0">PlaceHolder</span>

    </div>
    <div class="recipe-preview-image">

        <img src="" alt="">

    </div>
    <div id="recipe-preview-content" class="recipe-preview-content">

        <h3>Author</h3>
        <p id="recipe-preview-author">Place holder</p>



    </div>

</div>