<%- include('partials/head') %>

<div class="text-dark saved-main d-flex flex-column vh-100">
  <header
    class="d-flex justify-content-between align-items-center mb-1 forest-green p-2"
  >
    <h2 class="user-greeting h1 mb-1 text-light">Hi, Quinn</h2>

    <div class="rounded-circle bg-light mb-1">
      <!-- Updated link to /profile route -->
      <a href="/profile">
        <img
          src="/assets/images/placeholder.png"
          class="profile-pic img-fluid rounded-circle hover-zoom"
          alt="Profile picture"
        />
      </a>
    </div>
  </header>

  <main class="text-dark d-flex flex-column flex-grow-1 px-1">
    <div class="banner-container flex-grow-1 mb-3">
      <!-- Updated image path -->
      <img
        src="/assets/images/banner.png"
        class="banner-image img-fluid rounded mb-3 h-100 banner"
        alt="Banner image"
      />
    </div>

    <hr class="mb-3 mt-0" />

    <div class="user-info-container p-3 rounded mb-3">
      <p class="daily-quote mb-3 small">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>

      <p class="user-stats mb-3 small">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>

    <div class="btn-container container-fluid px-0">
      <div class="row g-3 mb-3">
        <div class="col-6">
          <!-- Updated link to /profile route -->
          <a href="/profile" class="profile-btn btn btn-custom d-block w-100">
            Profile
          </a>
        </div>
        <div class="col-6">
          <!-- Updated link to /browse route -->
          <a href="/browse" class="browse-btn btn btn-custom d-block w-100">
            Browse Recipes
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <a href="#" class="community-btn btn btn-custom d-block w-100">
            Explore My Community
          </a>
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
  </main>
</div>

<%- include('partials/navbar') %> <%- include('partials/scripts') %>
