html {
  height: 100%;
}

.component-box {
  background-color: #e0e0e0;
  color: #333;
}

.btn-custom {
  background-color: #e0e0e0;
  color: #333;
  font-weight: 500;
  font-size: 1.1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.btn-custom:hover {
  background-color: var(--dark-berry);
  color: #fff;
}

.profile-pic {
  max-height: 3em;
  transition: 0.3s ease-in-out;
}

.profile-pic:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.3s ease-in-out;
}

.berry-red {
  background-color: var(--dark-berry);
}

.lemon-curd {
  background-color: var(--lemon-curd);
}

.forest-green {
  background-color: var(--forest-green);
}

.banner {
  object-fit: cover;
}
